.content {
  position: absolute;
  top: 70px;
  left: 2px;
  bottom: 2px;
  right: 2px;
}

div#splitter {
  left: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: initial;
}
