@external .abc;

body {
  margin: 0;
}

.abc {
}

div[class=x-grid-row-checker] {
  width: 15px!important;
}

div#resourcegrid>table>tbody>tr>td {
  vertical-align: middle;
  background-image: url("") !important;
}

ul {
  padding: 0;
  margin: 0;
}

div[myinput] {
  position: relative;
}

div[myinput]>input {
  height: 29px;
  border: 1px solid white;
  box-shadow: inset 0 1px 4px rgba(125, 125, 125, .65);
  background: transparent;
  border-radius: 6px;
  -webkit-box-sizing: border-box;
  width: 100%;
  position: relative;
  z-index: 3;
  -webkit-transition: all .16s ease-in-out;
  color: #666;
  font-size: 14px;
  font-weight: 700;
}

div[myinput]>input:FOCUS {
  border-color: #8080FF;
  box-shadow: inset 0 1px 4px rgba(125, 125, 125, .65), 0 0 14px rgba(94, 82, 235, .45);
  outline: none;
}

div[myinput]>input+label {
  top: 5px;
  display: block;
  position: absolute;
  z-index: 2;
  color: #BCBCBC;
  cursor: text;
  -webkit-transition: opacity .16s ease-in-out;
  -webkit-user-select: none;
}

div[myinput]>input:FOCUS+label {
  opacity: .5;
}

/* 
#main {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
} */